.header {
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, .5);
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: auto;
}

.header a {
  color: #000;
  text-decoration: none;
}

.header-about h1 {
  text-align: left;
  color: #000;
  margin-top: 0;
  font-size: 50px;
  margin-bottom: 0px;
}

.header-about {
  display: inline-block;
  margin: 0 auto;
  width: 600px;
}

.header-description {
  color: #111;
  font-size: 20px;
  display: block;
  text-align: left;
  width: 390px;
  margin-bottom: 0px;
  margin-left: 4px;
}

.header-navigation {
  display: inline-block;
  margin: auto;
  width: 200px;
}

.header-navigation-ul {
  padding-left: 0px;
  text-align: right;
  margin: 0 auto;
  max-width: 800px;
  font-size: 20px;
}

.header-navigation-li {
  list-style-type: none;
  display: inline;
  margin: 7px;
}

.about-content-container {
  padding: 0px;
  padding-top: 10px;
  max-width: 800px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

body {
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.posts {
  font-size: 19px;
}