* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c0c0c0;
}

.container {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photoContainer {
  margin: 50px;
}

.img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.bioContainer {
  text-align: center;
  line-height: 1.5;
}

.bioContainer h1,
.bioContainer h2,
.bioContainer h3 {
  font-weight: normal;
}

.socialContainer {
  margin: 30px;
}
